@import "_imports";
@import "base/_all";
@import "components/buttons";
@import "helpers/_spacing";


.button {
  text-align: center;
  justify-content: center;
  border-radius: $radius;
  cursor: pointer;
  font-size: $size-normal;

  &:focus,
  &:hover {
    opacity: .9;
  }

  &:active {
    opacity: .8;
  }

  &.is-danger {
    color: $danger-invert;
    background: $danger;
  }
  
  &.is-success {
    color: $success-invert;
    background: $success;
  }
  
  &.is-warning {
    color: $warning-invert;
    background: $warning;
  }
}